*{
    padding: 0;
    margin: 0;
}
.container{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main "
    "sidebar main "
    "footer footer"  ;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
}
.container__navbar{
background-color: #556891;
grid-area: navbar;
display: flex;
align-items: center;
justify-content: center;
}
.container__navbar__title{
    color: whitesmoke;
}

.container__sidebar{
background-color:#97a4df;
grid-area: sidebar;
display: flex;
flex-direction: column;
justify-content:start;
padding: 10px 25%;
}
.container__sidebar__textppl{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
.container__sidebar__textsec{
    padding: 3px 0px 3px 0px;
}
.container__main{
background-color:#97a4df;
grid-area: main;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 15px;
padding: 10px;
}
.container__main__box{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main__box__img{
    width: auto;
    height: 180px;
    max-height: 200px;
}
.main__box_title{
    font-weight: 500;
    padding: 10px;
}
.main__box_price{
    font-weight: 200;
    padding: 5px;
}
.main__box__button{
    color: white;
    width: 50%;
    padding: 5px;
    background-color: #556891;
}
.container__footer{
    background-color:#d7d7ea;
    grid-area: footer; 
    display: flex;
    justify-content: center;
    align-items: center;   
}